@keyframes first {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100;
    }
    100%{
        opacity:0;
    }
}
p{
    animation: first 1s infinite;
    font-size: 55px;
    color: red;
    background-color: aquamarine;
}
html,bidy{
    height:100%;
    width: 100%;
}
